article[data-x-post="content"] {
    font-family: Georgia, Cambria, serif;
    font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
    -webkit-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
    padding-bottom: 10rem;
    line-height: 1.6;
    .content {
        color: #373D49;
        font-size: 14px;
        padding: 0;
        width: 750px;
        margin: 0 auto;
        word-wrap: break-word;
        overflow-wrap: break-word;
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: "Source Sans Pro", "Hevetica Neue", Helvetica, Arial, sans-serif;
            color: #000;
        }
        img {
            margin: 1rem 0;
            max-width: 100%;
        }
        ul {
            list-style-type: square;
        }
        ul,
        ol,
        pre,
        code {
            margin: 0.5rem 0;
        }
        p {
            line-height: 1.6;
        }
        pre {
            background: linear-gradient(to bottom, #fff 0, #fff .75rem, #f5f7fa .75rem, #f5f7fa 2.75rem, #fff 2.75rem, #fff 4rem);
            background-size: 100% 4rem;
            border: 1px solid #D3DAEA;
            padding: 0.6rem 9.5px 9.5px;
            line-height: 2rem;
            font-size: 1rem;
            margin-bottom: 1.4rem;
            font-family: monospace;
            overflow: auto;
            display: block;
            color: #333;
            border-radius: 4px;
            word-break: break-all;
            word-wrap: break-word;
        }
        a {
            color: #108EE9 !important;
            text-decoration: none !important;
        }
        table {
            border: 1px solid #ddd;
            th,
            td {
                border: 1px solid #ddd;
                padding: 10px;
                min-width: 100px;
                word-break: break-all;
            }
            thead tr {
                background-color: #F8F8F8;
            }
            tr:nth-child(2n) {
                background-color: #F8F8F8;
            }
        }
    }
}