article {
    color: #262626;
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 28px;
    h1, h2, h3, h4, h5, h6 {
      margin-bottom: 18px;
      margin-top: 36px;
      border-left: 4px solid #3d73f5;
      padding-left: 10px;
      font-size: 14px;
      font-weight: 500;
      // 锚点
      a {
        color: #262626
      }
    }
    a {
      color: #1456f5;
      text-decoration: none;
    }
    img {
      margin: 14px 0;
      max-width: 100%;
      cursor: pointer;
    }
    p {
      line-height: 28px;
    }
    ul {
      list-style-type: disc;
    }
    ul, ol {
      margin: 14px 0;
      padding-left: 15px;
    }
    pre {
      margin: 14px 0;
    }
    // 代码块
    pre code {
      // background: linear-gradient(to bottom,#fff 0,#fff .75rem,#f5f7fa .75rem,#f5f7fa 2.75rem,#fff 2.75rem,#fff 4rem);
      // background-size: 100% 4rem;
      border: 1px solid #D3DAEA;
      background: #202329;
      margin-bottom: 14px;
      padding: 0.6rem 9.5px 9.5px;
      line-height: 28px;
      font-family: monospace;
      overflow: auto;
      display: block;
      color: #9ba1b2;
      word-break: break-all;
      word-wrap: break-word;
    }
    table {
      border: 1px solid #dbdbdb;
      th,td {
        border: 1px solid #dbdbdb;
        padding: 10px;
        min-width: 100px;
        word-break: break-all;
      }
      th {
        color: #262626;
        font-weight: normal
      }
      td {
        color: #696969;
      }
      thead tr {
        background-color: #eeeeee;
      }
    }
  }
  